@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: Oswald;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
.container-gallery {
    display: flex;
    justify-content: center;
    background-color: #333;
    align-items: center;
    min-height: 100vh;
}

/* nav */

.nav {
    display: flex;
    color: #333;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
}
.title-nav {
    font-size: 30px;
    font-family: Great Vibes;
}
.nav ul {
    gap: 2rem;
    display: flex;
}
.nav ul li {
    padding: 20px;
    list-style: none;
    transition: .4s ease-in-out;
}

.nav ul li a {
    padding: 20px;
    color: #333;
    transition: .4s ease-in-out;
    text-decoration: none;
}
.nav ul li a:hover {
    padding: 20px;
    color: #333;
    background-color: bisque;
    text-decoration: none;
}
.toggle {
    cursor: pointer;
    display: none;
}

.sidebar {
    display: none;
}
.sidebar2 {
    display: none;
}

/* Media Screen */

@media screen and (max-width: 740px) {

    .nav {
        display: flex;
        color: #333;
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 4rem;
        border-bottom: 1px solid #333;
        background-color: #fff;
        align-items: center;
        justify-content: space-around;
    }
    .nav ul {
        display: none;
    }
    .toggle {
        display: flex;
    }
    i {
        font-size: 40px;
    }
    .con_dark {
        background-color: #333;
    }

    .sidebar {
        height: 100vh;
        background-color: #33333386;
        width: 100%;
        transition: .4s ease-in-out;
        backdrop-filter: blur(10px);
        margin-top: 4rem;
        position: fixed;
        z-index: 999;
        flex-direction: column;
        margin-left: -900px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .sidebar ul {
        gap: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .sidebar ul li {
        padding: 20px;
        list-style: none;
        transition: .4s ease-in-out;
    }
    .sidebar ul li a {
        color: #fff;
        text-decoration: none;
    }


   


    .sidebar2 {
        margin-left: 0;
        height: 100vh;
        background-color: #33333386;
        width: 100%;
        z-index: 999;
        transition: .4s ease-in-out;
        backdrop-filter: blur(10px);
        margin-top: 4rem;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

}

/* Media Screen end */


/* nav end */

.list-folder {
    gap: 0;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 50vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.folder-baju {
    background-color: rgba(0, 0, 0, 0.986);
    color: #fff;
    width: 100%;
    padding: 10px 5px 10px ;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.folder-baju a {
    color: #fff;
    text-decoration: none;
    align-items: center;
    font-size: 2rem;
    display: flex;
}

/* footer */



/* footer end */

@media screen and (max-width: 740px) {
    .slide-wrapper {
        margin: 0 10px 40px;
    }
    .slide-wrapper .swiper-slide-button {
        display: none;

    }
}